/* Overall Page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  background: linear-gradient(to top, rgba(38, 60, 255, 0.932), rgb(21, 181, 230));
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
}

.welcome > h1 {
  padding: 1rem;
  display: inline-block;
  font-size: 65px;
  margin-left: 5px;
  text-shadow: 0.5px 0.5px #000000;
}

div {
  display: block;
}

/* Home Page */
.welcome {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Inika', serif;
  font-weight: lighter;
  color: #fff9f9;
  margin: 200px 250px 50px 200px;
  position: relative;
  text-align: center;
  width: 100%;
}

.second-title {
  color: white;
  font-family: 'Inika', serif;
  font-weight: lighter;
  font-size: 1.3vw;
  position: relative;
  margin: -60px 150px 50px 200px;
  text-shadow: 0.5px 0.5px #000000;
}

.treadmill {
  width: 300px;
  height: auto;
  position: absolute;
  margin: 160px 750px 50px 0px;
}

.dumbbells {
  width: 300px;
  height: auto;
  position: absolute;
  margin: -180px 150px 50px 0px;
}

.join-now-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #0263c4;
  color: white;
  padding: 30px 50px;
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  margin: 220px 100px 50px -310px;
}

.join-now-btn:hover {
  background-color: #1874CD;
}

.sign-up {
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 30px;
  margin: 60px -600px 50px 0px;
}

.sign-up > a {
  color: rgba(0, 0, 0, 0.904);
  font-weight: bold;
  text-decoration: none;
}

.sign-up > a:hover {
  color: rgb(63, 63, 63);
  transition: all 0.3s ease-in-out;
}

/* Navigation Bar */
.logo img {
  width: 130px;
  height: 130px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding: 0 20px;
}

.nav-item {
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  color: gray;
}

.nav-item:hover {
  color: rgba(33, 61, 187, 0.904);
  transition: 0.8s;
}

.nav-item,
.auth-button {
  margin-left: 16px;
}

.logo {
  margin-right: 16px;
}

.auth-buttons {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-buttons .auth-button {
  margin: 7px;
  border: 2px solid blue;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #3f51b5;
  color: #ffffff;
}

.auth-buttons .auth-button:hover {
  background-color: rgb(0, 225, 255);
  color: #000000;
  transition: 0.5s;
}

#mobile {
  display: none;
}

#mobile i {
  color: black;
  align-items: center;
}


/* Media Options */
@media screen and (max-width: 769px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 154px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to top, #55acee, #ffffff);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: right 0.5s ease-in-out;
  }

  #navbar.active .menu {
    right: 0px;
  }

  .nav-item:hover {
    color: black;
  }

  .nav-item {
    margin-bottom: 25px;
    color: #444444;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

/* FAQ Page */
.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.faq-box {
  height: 765px;
  width: 420px;
  margin: 45px;
  padding: 20px;
  background-color: #2bb4f3;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(51, 51, 51);
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.faq-box:hover {
  transform: translateY(-5px);
}

.faq-box img {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin-bottom: 15px;
}

.faq-box h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
  font-size: 32px;
  margin-bottom: 10px;
}

.faq-box p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}

/* About Us Page */
.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-us-title {
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 50px;
  margin-left: 0;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  align-items: center;
}

.team-member img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h2 {
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
}

.team-member p {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.social-icons i {
  font-size: 50px;
  margin: 3px;
  vertical-align: middle;
}

/* Black footer */
.black-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 27, 53);
  color: white;
}

/* Footer content */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer title */
.footer-title {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: lighter;
}

/* Footer description */
.footer-description {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  width: 815px;
  margin-bottom: 20px;
  text-align: center;
}

/* Footer icons */
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-icons a {
  margin: 0 10px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer-icons a:hover {
  color: gray;
}

/* Footer rights */
.footer-rights {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}